<div class="container">

  <h1><%= @cocktail.name.capitalize %></h1>

  <h4>Ingredients</h4>

  <ol>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <p><%= Ingredient.find(dose.ingredient_id).name %> (<%= dose.description %>)</p>
      </li>
    <% end %>

  </ol>

  <%= link_to "Add Ingredient", new_cocktail_path, class: "btn btn-primary"%>

</div>


